<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>{% block title %} -- Tank{% endblock%}</title>
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    {% endblock %}
    {% block js_top %}
    {% endblock %}
</head>
<body>
    <div class="container">
    {% block container %}
    {% endblock %}
    </div>
    {% block js_bottom %}
    <script src="{{ url_for('static', filename='jquery/jquery-1.10.2.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}
</body>
</html>
